@page
@model IndexModel
@{
    ViewData["Title"] = "Todo page";
}

<section class="vh-100">
  <div class="container  h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
          <div class="card-body py-4 px-4 px-md-5">

            <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
              <i class="fas fa-check-square me-1"></i>
              <u>My Todo-s</u>
            </p>

            <div class="pb-2">
              <div class="card">
                <div class="card-body">
                 
                    <form method="post" class="d-flex flex-row align-items-center">
                        <input type="text" class="form-control form-control-lg" asp-for="Task.TodoTask"
                      placeholder="Add new...">
                   <!-- <a href="#!" data-mdb-toggle="tooltip" title="Set due date"><i
                        class="fas fa-calendar-alt fa-lg me-3"></i></a>-->
                    <div>
                      <button type="submit" class="btn btn-primary" asp-page-handler="Add">Add</button>
                    </div>
                    </form>
                 
                </div>
              </div>
            </div>

            <hr class="my-4">

           
            
 
     <form method="post">
        
             @for(int i = 0; i < Model.Tasks.Count(); i++)
             {
                                  <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
              <li
                class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                <div class="form-check">
                  <input class="form-check-input me-0" asp-for="@Model.Tasks[i].Check" />
                   <input class="form-check-input me-0" asp-for="@Model.Tasks[i].Id" hidden />

                </div>
              </li>
              <li
                class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                <p class="lead fw-normal mb-0">@Model.Tasks[i].TodoTask</p>
              </li>
              <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                <div class="d-flex flex-row justify-content-end mb-1">
                  <a asp-page="EditTodo" asp-route-id="@Model.Tasks[i].Id" class="text-info" data-mdb-toggle="tooltip" title="Edit todo"><i
                      class="fas fa-pencil-alt me-3"></i></a>
                
                 <button type="submit" asp-page-handler="Delete" asp-route-id="@Model.Tasks[i].Id" class="text-danger fas fa-trash-alt no-border" data-mdb-toggle="tooltip"></button>
               
                 
                </div>
                <div class="text-end text-muted">
                  <a href="#!" class="text-muted" data-mdb-toggle="tooltip" title="Created date">
                    <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>@Model.Tasks[i].Date</p>
                  </a>
                </div>
              </li>
            </ul>
            }
              <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
              
                 <button type="submit" asp-page-handler="DeleteSelected" class="btn btn-outline-danger" data-mdb-toggle="tooltip">Delete Selected</button>
                
            </div>
             </form>
 

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

